button:focus {
  outline-color: #05FF22;
}

.button-lg {
  width: 224px;
  height: 74px;
  margin: 8px;
  font-size: 22px;
  background-color: #E503E9;
  color: #FFFFFF;
  border: 0px;
  cursor: pointer;
}

.button-lg-highlight {
  width: 224px;
  height: 74px;
  margin: 8px;
  font-size: 22px;
  background-color: #E503E9;
  color: #FFFFFF;
  border-width: 3px;
  border-color: #03E41E;
  cursor: pointer;
}

.button-lg-disabled {
  width: 224px;
  height: 74px;
  margin: 8px;
  font-size: 22px;
  background-color: #B103B4;
  color: #FFFFFF;
  border: 0px;
  cursor: not-allowed;
}

.button-md {
  width: 194px;
  height: 64px;
  margin: 8px;
  font-size: 20px;
  background-color: #E503E9;
  color: #FFFFFF;
  border: 0px;
  cursor: pointer;
}

.button-md-highlight {
  width: 194px;
  height: 64px;
  margin: 8px;
  font-size: 20px;
  background-color: #E503E9;
  color: #FFFFFF;
  border-width: 3px;
  border-color: #03E41E;
  cursor: pointer;
}

.button-md-disabled {
  width: 194px;
  height: 64px;
  margin: 8px;
  font-size: 20px;
  background-color: #B103B4;
  color: #FFFFFF;
  border: 0px;
  cursor: not-allowed;
}

.button-sm {
  width: 162px;
  height: 54px;
  margin: 8px;
  font-size: 18px;
  background-color: #E503E9;
  color: #FFFFFF;
  border: 0px;
  cursor: pointer;
}

.button-sm-highlight {
  width: 162px;
  height: 54px;
  margin: 8px;
  font-size: 18px;
  background-color: #E503E9;
  color: #FFFFFF;
  border-width: 3px;
  border-color: #03E41E;
  cursor: pointer;
}

.button-sm-disabled {
  width: 162px;
  height: 54px;
  margin: 8px;
  font-size: 18px;
  background-color: #B103B4;
  color: #FFFFFF;
  border: 0px;
  cursor: not-allowed;
}

.del-button-lg {
  width: 224px;
  height: 74px;
  margin: 8px;
  font-size: 22px;
  background-color: #FF0505;
  color: #FFFFFF;
  border: 0px;
  cursor: pointer;
}

.del-button-lg-highlight {
  width: 224px;
  height: 74px;
  margin: 8px;
  font-size: 22px;
  background-color: #FF0505;
  color: #FFFFFF;
  border-width: 3px;
  border-color: #CB07CE;
  cursor: pointer;
}

.del-button-md {
  width: 194px;
  height: 64px;
  margin: 8px;
  font-size: 20px;
  background-color: #FF0505;
  color: #FFFFFF;
  border: 0px;
  cursor: pointer;
}

.del-button-md-highlight {
  width: 194px;
  height: 64px;
  margin: 8px;
  font-size: 20px;
  background-color: #FF0505;
  color: #FFFFFF;
  border-width: 3px;
  border-color: #CB07CE;
  cursor: pointer;
}

.del-button-sm {
  width: 162px;
  height: 54px;
  margin: 8px;
  font-size: 18px;
  background-color: #FF0505;
  color: #FFFFFF;
  border: 0px;
  cursor: pointer;
}

.del-button-sm-highlight {
  width: 162px;
  height: 54px;
  margin: 8px;
  font-size: 18px;
  background-color: #FF0505;
  color: #FFFFFF;
  border-width: 3px;
  border-color: #CB07CE;
  cursor: pointer;
}

.del-ac-button-lg {
  width: 224px;
  height: 74px;
  margin: 8px;
  font-size: 22px;
  background-color: #052FFF;
  color: #FFFFFF;
  border: 0px;
  cursor: pointer;
}

.del-ac-button-lg-highlight {
  width: 224px;
  height: 74px;
  margin: 8px;
  font-size: 22px;
  background-color: #052FFF;
  color: #FFFFFF;
  border-width: 3px;
  border-color: #CB07CE;
  cursor: pointer;
}

.del-ac-button-md {
  width: 194px;
  height: 64px;
  margin: 8px;
  font-size: 20px;
  background-color: #052FFF;
  color: #FFFFFF;
  border: 0px;
  cursor: pointer;
}

.del-ac-button-md-highlight {
  width: 194px;
  height: 64px;
  margin: 8px;
  font-size: 20px;
  background-color: #052FFF;
  color: #FFFFFF;
  border-width: 3px;
  border-color: #CB07CE;
  cursor: pointer;
}

.del-ac-button-sm {
  width: 162px;
  height: 54px;
  margin: 8px;
  font-size: 18px;
  background-color: #052FFF;
  color: #FFFFFF;
  border: 0px;
  cursor: pointer;
}

.del-ac-button-sm-highlight {
  width: 162px;
  height: 54px;
  margin: 8px;
  font-size: 18px;
  background-color: #052FFF;
  color: #FFFFFF;
  border-width: 3px;
  border-color: #CB07CE;
  cursor: pointer;
}

.warning-message {
  width: 494px;
  height: 298px;
  background-color: #FF0505;
  color: #FFFFFF;
  text-align: center;
  margin: 16px;
  padding: 32px;
  border-radius: 44px;
}

.warning-ac-message {
  width: 494px;
  height: 298px;
  background-color: #052FFF;
  color: #FFFFFF;
  text-align: center;
  margin: 16px;
  padding: 32px;
  border-radius: 44px;
}

.Success-message {
  width: 494px;
  height: 298px;
  background-color: #05FF22;
  color: #000000;
  text-align: center;
  margin: 16px;
  padding: 32px;
  border-radius: 44px;
}

.loading-message {
  width: 494px;
  height: 298px;
  background-color: #E503E9;
  color: #FFFFFF;
  text-align: center;
  margin: 16px;
  padding: 32px;
  border-radius: 44px;
}

.input {
  background-color: #555555;
  color: #FFFFFF;
  width: 449px;
  height: 55px;
  padding: 8px;
  font-family: arial;
  font-size: 22px;
}

.textarea {
  background-color: #555555;
  color: #FFFFFF;
  width: 449px;
  height: 330px;
  padding: 8px;
  font-family: arial;
  font-size: 22px;
}

.icon-profile {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='31' viewBox='0 0 27 31' fill='none'%3E%3Cpath d='M13.5 17.4788C20.9558 17.4788 27 23.4587 27 30.8352C27 30.8903 26.9987 30.9453 26.998 31.0002H0.00195312C0.00128044 30.9453 2.52921e-07 30.8903 0 30.8352C0 23.4587 6.04416 17.4788 13.5 17.4788Z' fill='%23E503E9'/%3E%3Cellipse cx='13.5' cy='7.75' rx='7.64458' ry='7.75' fill='%23E503E9'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-home {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='42' height='31' viewBox='0 0 42 31' fill='none'><path d='M31.421 31.0002H24.9474V16.2083H16.8947V31.0002H10.421V10.7004H31.421V31.0002Z' fill='%23E503E9'/><path d='M21 0L39.1865 14.5164H2.81347L21 0Z' fill='%23E503E9'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-arrow {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='35' viewBox='0 0 30 35' fill='none'><line y1='-2' x2='31.0914' y2='-2' transform='matrix(0.865683 0.500592 -0.499408 0.866367 0 3.46558)' stroke='%23E503E9' stroke-width='4'/><line y1='-2' x2='31.0914' y2='-2' transform='matrix(0.865683 -0.500592 0.499408 0.866367 2.16174 33.5295)' stroke='%23E503E9' stroke-width='4'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-lock {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='28' height='31' viewBox='0 0 28 31' fill='none'><path fill-rule='evenodd' clip-rule='evenodd' d='M28 31H0V12.3252H28V31ZM14.2949 15.5C12.0975 15.5 10.3155 17.3131 10.3154 19.5498C10.3154 21.1399 11.2163 22.516 12.5264 23.1787V29H16.0635V23.1777C17.3732 22.5149 18.2734 21.1397 18.2734 19.5498C18.2733 17.3132 16.4923 15.5001 14.2949 15.5Z' fill='%23E503E9'/><path d='M13.8158 0C20.4287 0 25.7894 5.43474 25.7894 12.1387C25.7894 16.3173 23.7061 20.0019 20.5355 22.1855C22.6264 20.1241 23.9476 17.1103 23.9476 13.75C23.9476 7.53682 19.4389 2.50004 13.8773 2.5C8.31572 2.5 3.80701 7.5368 3.80701 13.75C3.80701 17.2476 5.23594 20.3722 7.47693 22.4355C4.0938 20.2906 1.84221 16.4821 1.84216 12.1387C1.84216 5.43475 7.20294 2.82159e-05 13.8158 0Z' fill='%23E503E9'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-search {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='32' viewBox='0 0 30 32' fill='none'><path d='M11.8506 2C17.3092 2 21.7012 6.37781 21.7012 11.7373C21.701 17.0967 17.3091 21.4736 11.8506 21.4736C6.39213 21.4736 2.00015 17.0966 2 11.7373C2 6.37784 6.39204 2.00005 11.8506 2Z' stroke='%23E503E9' stroke-width='4'/><line y1='-2' x2='15.6898' y2='-2' transform='matrix(0.710505 0.703692 -0.710505 0.703692 15.5 20)' stroke='%23E503E9' stroke-width='4'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-settings {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'><rect x='12.0299' width='7.01741' height='7.01741' fill='%23E503E9'/><rect x='19.0472' y='7.04419' width='7.01741' height='7.01741' transform='rotate(-45 19.0472 7.04419)' fill='%23E503E9'/><rect x='23.9825' y='12.0298' width='7.01741' height='7.01741' fill='%23E503E9'/><rect x='19.0472' y='24.0093' width='7.01741' height='7.01741' transform='rotate(-45 19.0472 24.0093)' fill='%23E503E9'/><rect x='12.0299' y='23.9827' width='7.01741' height='7.01741' fill='%23E503E9'/><rect x='2.08203' y='24.0093' width='7.01741' height='7.01741' transform='rotate(-45 2.08203 24.0093)' fill='%23E503E9'/><rect y='12.0298' width='7.01741' height='7.01741' fill='%23E503E9'/><rect x='2.08203' y='7.04419' width='7.01741' height='7.01741' transform='rotate(-45 2.08203 7.04419)' fill='%23E503E9'/><path d='M15.5382 6.32349C20.6275 6.32349 24.7539 10.4491 24.754 15.5383C24.754 20.6277 20.6276 24.7542 15.5382 24.7542C10.449 24.754 6.32336 20.6276 6.32336 15.5383C6.32354 10.4492 10.4491 6.32366 15.5382 6.32349ZM15.5773 11.4905C13.32 11.4905 11.4904 13.3202 11.4904 15.5774C11.4904 17.8345 13.3201 19.6643 15.5773 19.6643C17.8344 19.6642 19.6641 17.8345 19.6642 15.5774C19.6642 13.3202 17.8344 11.4906 15.5773 11.4905Z' fill='%23E503E9'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-save {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'><path d='M7.75 11.0049H23.25V0H24.6895L31 6.31055V31H0V0H7.75V11.0049ZM5.88965 19.9951V28.21H25.1104V19.9951H5.88965Z' fill='%23E503E9'/><rect x='17.825' y='2.16992' width='3.255' height='6.355' fill='%23E503E9'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-image {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'><path d='M26.8213 31H0V27.9492L10.2373 16.9014L26.8213 31ZM31 30.6152L9.94336 12.7139L8.99609 13.8271L0 23.5352V0H31V30.6152ZM7.30957 2.99414C5.02359 2.99419 3.1709 4.8478 3.1709 7.13379C3.17104 9.41966 5.02368 11.2724 7.30957 11.2725C9.5955 11.2725 11.4491 9.41969 11.4492 7.13379C11.4492 4.84777 9.59559 2.99414 7.30957 2.99414Z' fill='%237E7E7E'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-cancel {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'><path d='M15.5 0C24.0604 0 31 6.93959 31 15.5C31 24.0604 24.0604 31 15.5 31C6.93959 31 0 24.0604 0 15.5C0 6.93959 6.93959 0 15.5 0ZM14.8721 14.9688L7.32227 7.41992L6.61523 8.12695L14.165 15.6758L6.5498 23.292L7.25684 23.999L14.8721 16.3828L23.3574 24.8682L24.0645 24.1611L15.5791 15.6758L23.999 7.25684L23.292 6.5498L14.8721 14.9688Z' fill='%23E503E9'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-bin {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='29' height='31' viewBox='0 0 29 31' fill='none'><rect y='2.91016' width='29' height='2.91022' fill='%23FF0505'/><ellipse cx='14.5' cy='2.84695' rx='5.00442' ry='2.84695' fill='%23FF0505'/><path d='M20.2744 31.0005H8.72559L0 6.32666H29L20.2744 31.0005ZM14.4355 13.2856C13.9042 13.2858 13.4736 13.7171 13.4736 14.2485V23.2056C13.4739 23.7368 13.9043 24.1673 14.4355 24.1675C14.9669 24.1675 15.3982 23.7369 15.3984 23.2056V14.2485C15.3984 13.717 14.9671 13.2856 14.4355 13.2856ZM10.3604 14.1509C10.2668 13.6279 9.7666 13.2776 9.24316 13.3687C8.71985 13.4597 8.37147 13.9571 8.46484 14.48L10.042 23.3022C10.1355 23.8252 10.6358 24.1753 11.1592 24.0845C11.6826 23.9935 12.031 23.4961 11.9375 22.9731L10.3604 14.1509ZM19.6289 13.3687C19.1055 13.2776 18.6052 13.6279 18.5117 14.1509L16.9336 22.9731C16.8402 23.496 17.1887 23.9933 17.7119 24.0845C18.2354 24.1755 18.7356 23.8252 18.8291 23.3022L20.4072 14.48C20.5005 13.9572 20.152 13.4598 19.6289 13.3687Z' fill='%23FF0505'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-filter {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'><path d='M30.6328 5.875L18.8828 11.3301V31L11.5508 23.2891H11.54V11.3301L0 5.875V0H30.6328V5.875Z' fill='%23E503E9'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-tickmark {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'><path d='M15.5 0C24.0604 0 31 6.93959 31 15.5C31 24.0604 24.0604 31 15.5 31C6.93959 31 0 24.0604 0 15.5C0 6.93959 6.93959 0 15.5 0ZM12.627 17.1104L8.02051 11.8057L5 14.4287L9.68262 19.8213L9.59766 19.9004L12.3076 22.8428L15.3271 20.2207L15.251 20.1328L26.2578 10L23.5479 7.05664L12.627 17.1104Z' fill='%23E503E9'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-plus {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'><path d='M15.5 0C24.0604 0 31 6.93959 31 15.5C31 24.0604 24.0604 31 15.5 31C6.93959 31 0 24.0604 0 15.5C0 6.93959 6.93959 0 15.5 0ZM15.5 14.5H5.31445V15.5H15.5V25.2432H16.5V15.5H25.2432V14.5H16.5V5.31445H15.5V14.5Z' fill='%23E503E9'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-bin-ac {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='31' viewBox='0 0 29 31' fill='none'%3E%3Crect y='2.91022' width='29' height='2.91022' fill='%23052FFF'/%3E%3Cellipse cx='14.5' cy='2.84695' rx='5.00442' ry='2.84695' fill='%23052FFF'/%3E%3Cpath d='M20.2744 31.0004H8.72559L0 6.32654H29L20.2744 31.0004ZM14.4355 13.2855C13.9042 13.2857 13.4736 13.717 13.4736 14.2484V23.2054C13.4739 23.7366 13.9043 24.1672 14.4355 24.1674C14.9669 24.1674 15.3982 23.7367 15.3984 23.2054V14.2484C15.3984 13.7169 14.9671 13.2855 14.4355 13.2855ZM10.3604 14.1508C10.2668 13.6278 9.7666 13.2775 9.24316 13.3685C8.71985 13.4596 8.37147 13.957 8.46484 14.4799L10.042 23.3021C10.1355 23.825 10.6358 24.1752 11.1592 24.0844C11.6826 23.9933 12.031 23.496 11.9375 22.973L10.3604 14.1508ZM19.6289 13.3685C19.1055 13.2775 18.6052 13.6278 18.5117 14.1508L16.9336 22.973C16.8402 23.4959 17.1887 23.9932 17.7119 24.0844C18.2354 24.1754 18.7356 23.8251 18.8291 23.3021L20.4072 14.4799C20.5005 13.9571 20.152 13.4597 19.6289 13.3685Z' fill='%23052FFF'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-filter-2 {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'%3E%3Cpath d='M30.6328 5.875L18.8828 11.3301V31L11.5508 23.2891H11.54V11.3301L0 5.875V0H30.6328V5.875Z' fill='%2303E41E'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-tickmark-2 {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'%3E%3Cpath d='M15.5 0C24.0604 0 31 6.93959 31 15.5C31 24.0604 24.0604 31 15.5 31C6.93959 31 0 24.0604 0 15.5C0 6.93959 6.93959 0 15.5 0ZM12.627 17.1104L8.02051 11.8057L5 14.4287L9.68262 19.8213L9.59766 19.9004L12.3076 22.8428L15.3271 20.2207L15.251 20.1328L26.2578 10L23.5479 7.05664L12.627 17.1104Z' fill='%2303E41E'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-settings-2 {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'%3E%3Crect x='12.0299' width='7.01741' height='7.01741' fill='%2303E41E'/%3E%3Crect x='19.0472' y='7.04419' width='7.01741' height='7.01741' transform='rotate(-45 19.0472 7.04419)' fill='%2303E41E'/%3E%3Crect x='23.9825' y='12.0298' width='7.01741' height='7.01741' fill='%2303E41E'/%3E%3Crect x='19.0472' y='24.0093' width='7.01741' height='7.01741' transform='rotate(-45 19.0472 24.0093)' fill='%2303E41E'/%3E%3Crect x='12.0299' y='23.9827' width='7.01741' height='7.01741' fill='%2303E41E'/%3E%3Crect x='2.08203' y='24.0093' width='7.01741' height='7.01741' transform='rotate(-45 2.08203 24.0093)' fill='%2303E41E'/%3E%3Crect y='12.0298' width='7.01741' height='7.01741' fill='%2303E41E'/%3E%3Crect x='2.08203' y='7.04419' width='7.01741' height='7.01741' transform='rotate(-45 2.08203 7.04419)' fill='%2303E41E'/%3E%3Cpath d='M15.5382 6.32349C20.6275 6.32349 24.7539 10.4491 24.754 15.5383C24.754 20.6277 20.6276 24.7542 15.5382 24.7542C10.449 24.754 6.32336 20.6276 6.32336 15.5383C6.32354 10.4492 10.4491 6.32366 15.5382 6.32349ZM15.5773 11.4905C13.32 11.4905 11.4904 13.3202 11.4904 15.5774C11.4904 17.8345 13.3201 19.6643 15.5773 19.6643C17.8344 19.6642 19.6641 17.8345 19.6642 15.5774C19.6642 13.3202 17.8344 11.4906 15.5773 11.4905Z' fill='%2303E41E'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-search-2 {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='32' viewBox='0 0 30 32' fill='none'><path d='M11.8506 2C17.3092 2 21.7012 6.37781 21.7012 11.7373C21.701 17.0967 17.3091 21.4736 11.8506 21.4736C6.39213 21.4736 2.00015 17.0966 2 11.7373C2 6.37784 6.39204 2.00005 11.8506 2Z' stroke='%2303E41E' stroke-width='4'/><line y1='-2' x2='15.6898' y2='-2' transform='matrix(0.710505 0.703692 -0.710505 0.703692 15.5 20)' stroke='%2303E41E' stroke-width='4'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-save-2 {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'><path d='M7.75 11.0049H23.25V0H24.6895L31 6.31055V31H0V0H7.75V11.0049ZM5.88965 19.9951V28.21H25.1104V19.9951H5.88965Z' fill='%2303E41E'/><rect x='17.825' y='2.16992' width='3.255' height='6.355' fill='%2303E41E'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-profile-2 {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='27' height='31' viewBox='0 0 27 31' fill='none'><path d='M13.5 17.4788C20.9558 17.4788 27 23.4587 27 30.8352C27 30.8903 26.9987 30.9453 26.998 31.0002H0.00195312C0.00128044 30.9453 2.52921e-07 30.8903 0 30.8352C0 23.4587 6.04416 17.4788 13.5 17.4788Z' fill='%2303E41E'/><ellipse cx='13.5' cy='7.75' rx='7.64458' ry='7.75' fill='%2303E41E'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-plus-2 {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'><path d='M15.5 0C24.0604 0 31 6.93959 31 15.5C31 24.0604 24.0604 31 15.5 31C6.93959 31 0 24.0604 0 15.5C0 6.93959 6.93959 0 15.5 0ZM15.5 14.5H5.31445V15.5H15.5V25.2432H16.5V15.5H25.2432V14.5H16.5V5.31445H15.5V14.5Z' fill='%2303E41E'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-lock-2 {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='28' height='31' viewBox='0 0 28 31' fill='none'><path d='M28 31H0V12.3252H28V31ZM14.2949 15.5C12.0975 15.5 10.3155 17.3131 10.3154 19.5498C10.3154 21.1398 11.2165 22.5149 12.5264 23.1777V29H16.0635V23.1768C17.373 22.5138 18.2734 21.1395 18.2734 19.5498C18.2733 17.3132 16.4923 15.5001 14.2949 15.5Z' fill='%2303E41E'/><path d='M13.8158 0C20.4287 0 25.7894 5.43474 25.7894 12.1387C25.7894 16.3173 23.7061 20.0019 20.5355 22.1855C22.6264 20.1241 23.9476 17.1103 23.9476 13.75C23.9476 7.53682 19.4389 2.50004 13.8773 2.5C8.31572 2.5 3.80701 7.5368 3.80701 13.75C3.80701 17.2476 5.23594 20.3722 7.47693 22.4355C4.0938 20.2906 1.84221 16.4821 1.84216 12.1387C1.84216 5.43475 7.20294 2.82159e-05 13.8158 0Z' fill='%2303E41E'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-cancel-2 {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'><path d='M15.5 0C24.0604 0 31 6.93959 31 15.5C31 24.0604 24.0604 31 15.5 31C6.93959 31 0 24.0604 0 15.5C0 6.93959 6.93959 0 15.5 0ZM14.8721 14.9688L7.32227 7.41992L6.61523 8.12695L14.165 15.6758L6.5498 23.292L7.25684 23.999L14.8721 16.3828L23.3574 24.8682L24.0645 24.1611L15.5791 15.6758L23.999 7.25684L23.292 6.5498L14.8721 14.9688Z' fill='%2303E41E'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-home-2 {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='42' height='31' viewBox='0 0 42 31' fill='none'><path d='M31.421 31.0002H24.9474V16.2083H16.8947V31.0002H10.421V10.7004H31.421V31.0002Z' fill='%2303E41E'/><path d='M21 0L39.1865 14.5164H2.81347L21 0Z' fill='%2303E41E'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-arrow-2 {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='35' viewBox='0 0 30 35' fill='none'><line y1='-2' x2='31.0914' y2='-2' transform='matrix(0.865683 0.500592 -0.499408 0.866367 0 3.46558)' stroke='%2303E41E' stroke-width='4'/><line y1='-2' x2='31.0914' y2='-2' transform='matrix(0.865683 -0.500592 0.499408 0.866367 2.16174 33.5295)' stroke='%2303E41E' stroke-width='4'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.concheck {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.concheck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.concheck .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.concheck input:checked ~ .checkmark {
  background-color: #2196F3;
}
.concheck .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.concheck input:checked ~ .checkmark:after {
  display: block;
}
.concheck .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.concheck:hover input ~ .checkmark {
  background-color: #ccc;
}

.radio {
  height: 36px;
  width: 36px;
  background-color: #cfcece;
  border-width: 8px;
  border-color: #00630C;
}
.radio Input:checked {
  background-color: #FB04FF;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch Input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFFFFF;
  transition: 0.4s;
  border-radius: 34px;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #FFFFFF;
  transition: 0.4s;
  border-radius: 34px;
}
.switch input:checked + .slider {
  background-color: #FB04FF;
}
.switch input:focus + .slider {
  box-shadow: 0 0 1px #FB04FF;
}
.switch input:checked + .slider:before {
  transform: translateX(26px);
}

a {
  padding: 8px;
}

body {
  background-color: #FFFFFF;
}

.heading-1 {
  font-family: arial;
  font-size: 40px;
}

.heading-2 {
  font-family: arial;
  font-size: 34px;
}

.heading-3 {
  font-family: arial;
  font-size: 28px;
}

.body-1 {
  font-family: arial;
  font-size: 22px;
  color: #000000;
}

.body-2 {
  font-family: arial;
  font-size: 20px;
  color: #000000;
}

.body-3 {
  font-family: arial;
  font-size: 18px;
  color: #000000;
}

.bold-1 {
  font-family: arial;
  font-size: 22px;
  font-weight: bold;
  color: #000000;
}

.bold-2 {
  font-family: arial;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.bold-3 {
  font-family: arial;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.link-1 {
  color: #06bac7;
  font-family: arial;
  font-size: 22px;
  font-style: italic;
  text-decoration: underline;
}

.link-2 {
  color: #06bac7;
  font-family: arial;
  font-size: 20px;
  font-style: italic;
  text-decoration: underline;
}

.link-3 {
  color: #06bac7;
  font-family: arial;
  font-size: 18px;
  font-style: italic;
  text-decoration: underline;
}

.swatches-1 {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.swatches-1 .primary-100 {
  background-color: #FB04FF;
  width: 100px;
  height: 100px;
  margin: 32px;
}
.swatches-1 .primary-200 {
  background-color: #E503E9;
  width: 100px;
  height: 100px;
  margin: 32px;
}
.swatches-1 .primary-300 {
  background-color: #CB07CE;
  width: 100px;
  height: 100px;
  margin: 32px;
}
.swatches-1 .primary-400 {
  background-color: #B103B4;
  width: 100px;
  height: 100px;
  margin: 32px;
}
.swatches-1 .primary-500 {
  background-color: #830386;
  width: 100px;
  height: 100px;
  margin: 32px;
}
.swatches-1 .primary-600 {
  background-color: #540156;
  width: 100px;
  height: 100px;
  margin: 32px;
}

.swatches-2 {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.swatches-2 .secondary-100 {
  background-color: #05FF22;
  width: 100px;
  height: 100px;
  margin: 32px;
}
.swatches-2 .secondary-200 {
  background-color: #03E41E;
  width: 100px;
  height: 100px;
  margin: 32px;
}
.swatches-2 .secondary-300 {
  background-color: #03C019;
  width: 100px;
  height: 100px;
  margin: 32px;
}
.swatches-2 .secondary-400 {
  background-color: #019C13;
  width: 100px;
  height: 100px;
  margin: 32px;
}
.swatches-2 .secondary-500 {
  background-color: #018411;
  width: 100px;
  height: 100px;
  margin: 32px;
}
.swatches-2 .secondary-600 {
  background-color: #00630C;
  width: 100px;
  height: 100px;
  margin: 32px;
}

.swatches-3 {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.swatches-3 .neutral-100 {
  background-color: #cfcece;
  width: 100px;
  height: 100px;
  margin: 32px;
}
.swatches-3 .neutral-200 {
  background-color: #919191;
  width: 100px;
  height: 100px;
  margin: 32px;
}
.swatches-3 .neutral-300 {
  background-color: #555555;
  width: 100px;
  height: 100px;
  margin: 32px;
}
.swatches-3 .neutral-400 {
  background-color: #535353;
  width: 100px;
  height: 100px;
  margin: 32px;
}
.swatches-3 .neutral-500 {
  background-color: #353535;
  width: 100px;
  height: 100px;
  margin: 32px;
}
.swatches-3 .neutral-600 {
  background-color: #2B2B2B;
  width: 100px;
  height: 100px;
  margin: 32px;
}

.swatches-4 {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.swatches-4 .warning-colour {
  background-color: #FF0505;
  width: 100px;
  height: 100px;
  margin: 32px;
}
.swatches-4 .link-colour {
  background-color: #06bac7;
  width: 100px;
  height: 100px;
  margin: 32px;
}
.swatches-4 .dark-text-colour {
  background-color: #000000;
  width: 100px;
  height: 100px;
  margin: 32px;
}
.swatches-4 .light-text-colour {
  background-color: #FFFFFF;
  width: 100px;
  height: 100px;
  margin: 32px;
}

.spacing-esm-eg {
  background-color: #cfcece;
  width: 4px;
  height: 4px;
}

.spacing-sm-eg {
  background-color: #cfcece;
  width: 8px;
  height: 8px;
}

.spacing-md-eg {
  background-color: #cfcece;
  width: 16px;
  height: 16px;
}

.spacing-lg-eg {
  background-color: #cfcece;
  width: 32px;
  height: 32px;
}

.spacing-elg-eg {
  background-color: #cfcece;
  width: 64;
  height: 64;
}

.typography-example {
  padding-left: 16px;
}

.spacing-example {
  padding-left: 16px;
}

.colour-example {
  padding-left: 16px;
}

.buttons-example {
  display: flex;
  flex-direction: column;
  align-items: center;
}/*# sourceMappingURL=style.css.map */