@use '../../foundations/' as *;

.warning-message{
    width:494px;
    height:298px;
    background-color: $warning-color;
    color:$light-text-color;
    text-align: center;
    margin:$spacing-md;
    padding:$spacing-lg;
    border-radius: 44px;
}

.warning-ac-message{
    width:494px;
    height:298px;
    background-color:$accessible-warning-colour;
    color:$light-text-color;
    text-align: center;
    margin:$spacing-md;
    padding:$spacing-lg;
    border-radius: 44px;
}


.Success-message{
    width:494px;
    height:298px;
    background-color: $secondary-100;
    color:$dark-text-color;
    text-align: center;
    margin:$spacing-md;
    padding:$spacing-lg;
    border-radius: 44px;
}

.loading-message{
    width:494px;
    height:298px;
    background-color: $primary-200;
    color:$dark-text-color;
    text-align: center;
    margin:$spacing-md;
    padding:$spacing-lg;
    border-radius: 44px;
}