@use '../../foundations/' as *;

.warning-message{
    width:494px;
    height:298px;
    background-color: $warning-color;
    color:$light-text-color;
}

.Success-message{
    width:494px;
    height:298px;
    background-color: $secondary-100;
    color:$dark-text-color;
}

.loading-message{
    width:494px;
    height:298px;
    background-color: $primary-200;
    color:$dark-text-color;
}